extends layout

block content
  .w-full.max-w-xs.m-auto.mt-8
    form.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4(action='/admin/add', method='POST')
      .mb-4
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='username')
          | Username
        input#username.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker(type='text', placeholder='Username', name='username')
      .mb-6
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='password')
          | Password
        input#password.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker(type='password', name='password')
      .mb-6
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='password2')
          | Repeat Password
        input#password2.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker(type='password', name='password2')
      .mb-6
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='email')
          | Email
        input#email.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker.mb-3(type='text', name='email')
      .flex.items-center.justify-between
        button.bg-blue.text-white.w-full.font-bold.py-2.px-4.rounded(class='hover:bg-blue-dark', type='submit')
          | Add Admin