html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/utilities.min.css', rel='stylesheet')

body
  .w-full.max-w-xs.m-auto.mt-8
    form.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4(action='/login/proseslogin', method='POST')
      |
      - if(success){
      .bg-green-lightest.border.border-green-light.text-red-dark.px-4.py-3.rounded.relative(role='alert') #{success}
      - }
      h2.font-bold.text-center.m-4 Log In
      .mb-4
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='username')
          | Username
        input#username.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker(type='text', name='username')
      .mb-6
        label.block.text-grey-darker.text-sm.font-bold.mb-2(for='password')
          | Password
        input#password.shadow.border.rounded.w-full.py-2.px-3.text-grey-darker.mb-3(type='password', name='password')
      .flex.item-center.justify-between
        button.bg-blue-dark.text-white.font-bold.py-2.px-4.rounded(class='hover:bg-blue-light', type='submit')
          | Login
        a.inline-block.align-baseline.font-bold.text-sm.m-right.text-blue(class='hover:text-blue-darker', href='/login/forgot')
          | Forgot Password?
      .flex.justify-right
        a.text-right.font-bold.text-sm.m-right.text-blue.w-full(class='hover:text-blue-darker', href='/register')
          | Register Now 

